@media (min-width: 800px) {
    .navbar-expand-sm {
        width: 780px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .container-fluid {
        width: 780px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.articleBody {
    margin-top: 16px;
    margin-bottom: 40px;
    white-space: pre-wrap;
}

.marginBottom {
    margin-bottom: 16px;   
}