.navbar {
    margin-bottom: 1rem;
}

@media (min-width: 800px) {
    .navbar {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: auto;
        margin-right: auto;
        width: 780px !important;
    }
    
    .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 780px !important;
    }
}

.block {
    padding: 1rem;
    margin-bottom: 2rem;
}

.alert {
    margin-bottom: 2rem !important;
}

.btn-container {
    margin-bottom: 2rem;    
}

.article-body {
    margin-top: 1rem;
    white-space: pre-wrap;
}

.text-shadow{
    text-shadow: 1px 1px 1px lightgray;
}

body {
    background-color: #FAFAFA !important;
}