<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head(title='Blog')"></head>
<body>
    <nav th:replace="fragments.html :: nav(title='Blog')"></nav>
    <main id="articles" class="container-fluid">
        <article th:fragment="articles" th:each="post : ${posts}" th:include="fragments.html :: article" th:id="${post.id}"></article>
    </main>
    <nav class="container-fluid marginBottom">
        <button id="loadMorePosts" type="button" class="btn btn-primary btn-lg btn-block" data-container="body" data-toggle="popover" data-placement="top" data-content="There are no more posts.">Load More Posts</button>
    </nav>
</body>
</html>