<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head(title='Compose')"></head>
<body>
    <nav th:replace="fragments.html :: nav(title='Compose')"></nav>    
    <main class="container-fluid">
        <form method="post" class="form-group" th:object="${composeForm}">
            <div class="form-group">
                <label for="subjectControlInput">Subject</label>
                <input th:class="${#fields.hasErrors('subject')} ? 'is-invalid form-control' : 'form-control'" type="text" name="subject" placeholder="Subject" th:value="*{subject}">
                <div th:if="${#fields.hasErrors('subject')}" class="invalid-feedback" th:errors="*{subject}">invalid subject</div>
            </div>
            <div class="form-group">
                <label for="bodyTextarea">Body</label>
                <textarea th:class="${#fields.hasErrors('body')} ? 'is-invalid form-control' : 'form-control'" rows="10" type="text" name="body" placeholder="Body" th:text="*{body}"></textarea>
                <div th:if="${#fields.hasErrors('body')}" class="invalid-feedback" th:errors="*{body}">invalid body</div>
            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
        </form>
        <div class="alert alert-danger" th:if="${error} != null" th:text="${error}"></div>
    </main>
</body>
</html>