<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head(title='Login')"></head>
<body>
    <nav th:replace="fragments.html :: nav"></nav>
    <main>
        <h1>Login</h1>
        <form method="post">
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <input type="submit">
        </form>
        <div th:text="${message}"></div>
    </main>
</body>
</html>