<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head(title=${post.subject})"></head>
<body>
    <nav th:replace="fragments.html :: nav(title='Blog')"></nav>
    <main class="container-fluid">
   	    <article th:replace="fragments.html :: article"></article>
        <nav>
            <a type="button" class="btn btn-warning" th:if="${id} == ${post.userId}" th:href="@{'/blog/posts/'+${post.id}+'/edit'}">Edit</a>
            <a type="button" class="btn btn-danger" th:if="${id} == ${post.userId}" th:href="@{'/blog/posts/'+${post.id}+'/delete'}">Delete</a>
        </nav>
    </main>
    <!--
    <form method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="body" placeholder="Body" required>
        <input type="submit">
    </form>
    <div th:text="${message}"></div>
    <section th:each="comment : ${post.comments}">
        <p th:text="${comment.username}"></p>
        <p th:text="${comment.date}"></p>
        <p th:text="${comment.body}"></p>
    </section>
    -->
</body>
</html>